[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# jupyter
ipywidgets = "==8.0.5"
jupyterlab = "==4.0.0"
jupyterlite = "==0.1.0b21"

# data
numpy = "==1.24.2"
pandas = "==1.5.3"
matplotlib = "==3.7.1"

[dev-packages]

[requires]
python_version = "3.11"
