[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# jupyter
ipywidgets = "==8.0.2"
jupyterlab = "==3.5.0"
jupyterlite = "==0.1.0b14"

# data
numpy = "==1.24.2"
pandas = "==1.5.1"
matplotlib = "==3.6.1"

[dev-packages]

[requires]
python_version = "3.10"
